body {
    background-image: url(images/bg.png);
    background-color:#FAD8E0;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    font-family:"Mansalva", sans-serif;
    color:#F2FF00 ; 
    text-align: center;
     text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd, 6px 5px 2px rgba(78,204,223,0);
     font-size: 50px;
}

footer{
    background: #ffffff;
    background: linear-gradient(120deg,rgba(255, 255, 255, 1) 0%, rgba(102, 184, 255, 1) 100%);
    
    position: static;
    
    width: 100%;
    margin-top: auto;
    padding-bottom: 10%;

    padding: 5px;
   
    font-size: large;

    font-family:"Mansalva", sans-serif;
    color:#F2FF00 ; 
    text-align: center;
}

#title h1 {
    font-family:"Mansalva", sans-serif;
    color: #F2FF00;
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd, 6px 5px 2px rgba(78,204,223,0);
    text-align: center;
    font-size:80px;
    padding-top: 80px;
}

h2 {
   font-family:"Mansalva", sans-serif;
   color: black; 
   text-align: center;
}

input{
    display: block;
    width: 50%;
    margin: 0 auto;
    border: none;
    font-family:"Mansalva", sans-serif ;
    text-align: center;
}

h3 {
    font-family:"Mansalva", sans-serif;
    color: red;
    text-align: center;
}


button {
    font-family:"Mansalva", sans-serif ;
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    border: none;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(178, 203, 223);
    color: white;
}
