body {
    background-image: url(images/bg.png);
    background-color:#FAD8E0;
    background-repeat: no-repeat;
    background-position: center top;

    color: whitesmoke;
    
}


footer{
    background: #ffffff;
    background: linear-gradient(120deg,rgba(255, 255, 255, 1) 0%, rgba(102, 184, 255, 1) 100%);
    width: 100%;
    margin-bottom: 0;
    margin-top: 30px;
    padding: 5px;
    position: static;
    
    font-size: large;

    font-family:"Mansalva", sans-serif;
    color:#F2FF00 ; 
    text-align: center;
}

header{
    font-family:"Mansalva", sans-serif;
    color: #F2FF00;
    text-align: center;
    font-size:70px;
    padding-top: 50px;
}

h2 {
   font-family:"Mansalva", sans-serif;
   color: black; 
   text-align: center;
}

input{
    display: block;
    width: 50%;
    margin: 0 auto;
}

h3 {
    font-family:"Mansalva", sans-serif;
    color: red;
    text-align: center;
}



#end h1 {
    font-size: 60px;
    font-family:"Mansalva", sans-serif;
    color:#F2FF00 ; 
    text-align: center;
}

#end h2 {
    font-size: 40px;
}

button {
    font-family:"Mansalva", sans-serif ;
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
}