
header {
    background: #ffffff;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(34, 155, 195, 1) 100%);
    margin: 0;
    width: 100%;
    height: 150px;
}

body {
    min-height: 100vh;
}
h1 {
    color:rgba(64, 64, 64, .9);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
}

ul { display: flex; 
gap: 20px;
margin-top:0;}

ul li {
    list-style: none;
    flex: 1;
}

ul li a {
    text-decoration: none;
    color:rgba(64, 64, 64, .9);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:800;
    font-style: italic;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    background: #229bc3;
    background: linear-gradient(0deg, rgba(34, 155, 195, 1) 0%, rgba(255, 255, 255, 1) 100%);
    height: 150px;
    
}
footer h3{
    color:rgba(64, 64, 64, .9);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
    flex: 1;
    text-align: center;
}
footer a {
    color:rgba(64, 64, 64, .9);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
    flex: 1;
    text-align: center;
    position: static;
}


#two {
    text-decoration: none;

    max-width: 800px;  
    margin: 0 auto;    
    background-color: #ffffff;
    padding: 5px;
    color:#404040;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.wrapper {
    width: 100%;
}

img {
    align-items: center;
}




h3{ 
    font-family: Arial, sans-serif;
    font-weight: lighter;
    color:#404040;
}



