
html {
background-color: #3B3B47;
font-family: 'Kalam', sans-serif;
}

body {
margin: 0;
padding: 0;
}

header {
text-align: center;
background: linear-gradient(0deg, rgba(59, 59, 71, 1) 0%, rgba(15, 15, 15, 1) 100%);
padding-top: 400px;
padding-bottom: 0;
height: 1000px;
font-size: x-large;
font-family: 'Meddon', cursive;
color: rgba(255, 255, 255, 0.7);
text-shadow: 0 0 15px rgba(255,255,255,0.5),0 0 10px rgba(255,255,255,0.5),-8px -1px 8px rgba(204,206,202,0.38);
}



footer {
font-family: 'Meddon', cursive;
padding-top: 300px;
margin-bottom: 0;
text-align: center;
color: rgba(255, 255, 255, 0.7);
text-shadow: 0 0 15px rgba(255,255,255,0.5),0 0 10px rgba(255,255,255,0.5),-8px -1px 8px rgba(204,206,202,0.38);
background: linear-gradient(0deg, rgba(15, 15, 15, 1) 0%, rgba(59, 59, 71, 1) 100%);
height: 500px;
font-size: x-large;
}


main {
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 100px;
padding-top: 100px;
}


p {
font-family: 'Kalam', sans-serif;
color: rgba(255, 255, 255, 0.7);
text-shadow: 0 0 15px rgba(255,255,255,0.5), 0 0 10px rgba(255,255,255,0.5), -8px -1px 8px rgba(204,206,202,0.38);
text-align: center;
font-size: x-large;
margin: 20px ;
margin-bottom: 20px;
}


   /* FLIP CARD STYLES */
   

.flip-card {
width: 90vw;       
max-width: 800px;   
height: 90vh;     
margin: 50px;
perspective: 1000px; 
padding: 50px;

}

.flip-card-inner {
width: 100%;
height: 100%;
position: relative;
transition: transform 0.8s ease;
transform-style: preserve-3d;

}

.flip-card.flipped .flip-card-inner {
transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
backface-visibility: hidden;
text-align: center;

box-sizing: border-box;
/* padding: 20px; */
overflow: hidden; 
box-shadow: 0px 2px 18px 10px rgba(247,255,249,0.22);
box-sizing: border-box ;
padding: 20px; 
border: 25px solid; 
border-color: #352c2c ;
transition: background-color 2s ease, border-color 2s ease;

          

}


.flip-card-back {
transform: rotateY(180deg);
background-color: rgba(72, 63, 85)
}

.flip-card-front img,
.flip-card-back img {
border-radius: 8px;
width: auto;              
max-width: 100%;          
height: auto;             
max-height: 85%;         
display: block;
margin: auto;
}

#one-back img{
   padding: 100px;
}

#one, #two, #three, #four, #five {
    border: 25px solid #352c2c; /* or whatever color you want */
}


#one-back,
#two-back,
#three-back,
#four-back,
#five-back {
    background: rgba(59, 59, 71, 0.9);
}












 